@import "~antd/dist/antd.less";

#root,
.App,
#Main-Layout {
  height: 100vh;
}

#Main-Layout {
  grid-template-areas: "header header" "content content" "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto;
}

#CatalogCollectionRouterContainer {
  height: 100%;
  
  .MapNone {
    display: none;
  }
  .AppMapContainer {
    height: 100%;
    @media (max-width: @screen-md) {
      height: 30%;
    };
    @media (min-width: @screen-md) {
      height: 100%,
    };
  }

  .DataContainer {
    overflow: hidden auto;
    margin: 0;
    @media (max-width: @screen-md) {
      height: 70%;
    };
    @media (min-width: @screen-md) {
      height: 100%,
    };
  }
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  overflow: hidden;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}

.footer {
  grid-area: footer;
}
